<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="Maventest2.Reporting_test"/>-->
      <class name="Maventest2.LoginTest"/>
      <class name="Maventest2.SearchQuoteTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
